* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    background-color: #FFFFFF;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.forgot-password {
    width: 500px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.forgot-password h3 {
    text-align: center;
    margin-bottom: 20px;
}

.forgot-password p {
    text-align: center;
    color: #FF0000;
    margin-top: 20px;
}

.forgot-password input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}


.forgot-password input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

.forgot-password input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #E0163D;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.forgot-password input[type="submit"]:hover {
    background-color: #BF0035;
}